body {
    margin: 40px;
    /* font-size: 12px; */
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FFB084;
    
  }


  p {
    margin-top: 7px;
  }

  .green {
    color: #29A71E;
  }

  .blue {
    color: #3675B0;
  }

  .red {
    color: #E13535;
  }
  
  .wrapper {
    margin-top: 100px;
      display: grid;
      grid-gap: 15px;
      grid-template-columns: 250px 189px 189px;
      background-color: #FFB084;
      color: rgb(255, 255, 255);
      grid-template-rows: auto;
    }
  
    .box {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
      border-radius: 15px;
            
      box-sizing: border-box;      
      box-shadow: 10px 10px 0px 0px rgba(0,0,0,1); 
      padding: 15px 25px;
    }



.box > h1 {
    font-size: 24px;
    font-weight: 700;
}
.box > b {
    font-weight: 700;
}

.box > span {
    margin-top: 14px;
    
}

.box  > ul {
    margin-left: 25px;
}
  
    .about {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 7;
      height: 337px;
      width: 250px;
      display: flex;
      flex-direction: column;

      
    }

    .avatar {
        width: 101px;
        height: 101px;
        margin-top: 17px;
        margin-bottom: 3px;
        margin-left: 45px;
    }


    .bio {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 4;
        width: 400px;
        height: 155px;
        padding: 15px 25px;
        font-weight: 400;
        line-height: 16.42px;       
    }

    .bio > p {
        height: 65px;
        margin-top: 7px;
    }

    .bio > span {
        font-size: 14px;
        font-weight: 700;
    }









    .d {
        width: 250px;
        height: 89px;
    }
    


    .f {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 7;
        box-shadow: 10px 10px 0px 0px #E13535;
        width: 189px;
        height: 165px;

    }

    .e {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 8;
        width: 189px;
        height: 151px;
        box-shadow: 10px 10px 0px 0px #3675B0; 
    }



    .c {
        width: 189px;
        height: 101px;
        box-shadow: 10px 10px 0px 0px #29A71E; 
    }

    .m {
        
        width: 189px;
        height: 89px;
    }


    span {
        font-size: 14px;
        font-weight: 700;
        color: black;
      }

